<!-- https://pastebin.com/7N5JLcqa -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
  <div class="container">
    <a class="navbar-brand" routerLink="">Music App</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="playlists" 
              routerLinkActive="active" 
              #ref="routerLinkActive"
              [routerLinkActiveOptions]="{exact:true}">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="music" routerLinkActive="active">Search music</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>